

         *,html{
            margin: 0;
            box-sizing: border-box;
        }
        /* ........header content........ */
        header{
            display: flex; 
            justify-content: space-between;  
        }
        
        #Amazon{
            margin-left: 20px;
            font-size: 25px;
            text-decoration: none;
             
        }
        .parent-header{
            justify-content:space-around;
            align-items:center;
            display:flex;
        }
        #logo{
           margin-left: 15px;
            height: 60px;
           border-radius:0cqmax ;    
        }
        .top-menu{
            text-decoration: none;
            color:#1212ac;
            font-size: 20px;
           
              margin-left: 25px;
            /* padding:10px;   */
        }
        .top-menu:hover{
             color:#f1c40f; 
            
        }
        .site{
            font-size: 20px;
            margin: 20px;
           justify-content: space-between;
        }
        .my-account{
            font-size: 20px;    
        }
        .dropdown-menu{
            position: absolute;
            display: none;
        }
        .dropdown-menu a:hover{
            color: #f1710f;
        }
        .my-account:hover .dropdown-menu{
            display: block;
        }
        .dropdown-menu a{
            display: block;
            font-size: 18px;
            text-decoration: none;
            padding: 6px, 30px;
            /* z-index: 10; */
            margin-left: 10px;
        }
        .search > input{
            outline: none;
           margin-right: 20px;
            padding:5px;
        }
        /*.... main content......*/
        .nav-a-sales{
            position: relative;
        }
        .banner{
            position:relative;
            width: 100%;
            height: 400px;
        }
        .note{
            position: absolute;
            font-size: 25px;
            color: #161514;
            top: 350px;
            right: 100px;
            z-index: 10;
        }
        #amazon-sales{
            font-size: 25px;
            color: brown;

        }
       
        .bag{
           
            justify-content:space-evenly;
            height: 60vh;
            justify-content:space-around;
            margin-bottom: 20px;
            /*vertically aligns to the center*/
            align-items: center;    
        }
        .bags-card{
            display: flex;
            padding: 20px;
            margin: 20px;
            justify-content: space-around;
            align-items: center;

        }
        .card-bag a{
            text-decoration: none;
            font-size: 20px;

        }
        .card-bag{
            border: 1px solid #eee8e8;
            border-radius: 10px;
            padding: 20px;
            margin: 20px;
            height: 300px;
            width: 300px;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .card-bag-center img{
            margin: 10px;
            max-height: 200px;
            max-width: 250px;
        }
        .bags-list1{
            max-height: 150px;
        }
        .card-bag-bottom{
            margin: 10px;
            
        }
        
        .shoes{
            
            height: 50vh;
            /* background-color: hsl(268, 38%, 87%); */
           
            justify-content:space-around;
            align-items: center;
        }
        .shoes-card{
            display: flex;
            justify-content:space-around;
            align-items: center;

        }
        .card-shoe{
            display: grid;
            border: 1px solid #eae4e4;
            border-radius: 10px;
            padding: 20px;
            height: 300px;
            width: 300px;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 8px rgba(0,0,0, 0.1);

        }
        .card-shoe card-top{
            font-size: 30px;
            padding: 20px;
        }
        .card-shoe card-center{
           
            margin-left: 10px;
            max-height: 500px;
            max-width: 400px;
        }
        
        .card-bottom span{
            margin-top: 10px;
            font-size: 15px;

        }
        
        .sales-clothes{
            
            justify-content:space-evenly;
            margin-top: 20px;
            /*vertically aligns to the center*/
            align-items: center;  

        }
        .clothes-card{
            display: flex;
        }
        .card-cloth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #ccc;
            border-radius: 10px;
            height: 70vh;
            padding: 10px;
           
            width: 450px;
            margin:20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        }
        .card-cloth span{
            font-size: 20px;
            padding: 20px;
        }
        .card-cloth img{
            padding: 20px;
            margin-left: 25px;
            max-height: 400px;
            max-width: 350px;
        }
        .card-cloth p{
            font-size: 15px;
            margin-left: 25px;
        }
        
        .accesories-card{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .accesory{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #eae7e7;
            border-radius: 10px;
            min-height: 70vh;
            padding: 10px;
            width: 650px;
            margin:20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .card-left{
            font-size: 20px;
            padding: 10px;
        }
        .card-center img{
            border-radius :10px; 
            max-height: 280px;
            max-width: 220px;
        }
        .card-right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-left: 15px;
            margin-right: 10px;
            gap: 10px;
        }
        .card-right img{
            max-height: 200px;
            max-width: 200px;
        }
        footer{
            height: 100px;
            font-size: 20px;
        }
    
